.navbar{
 background:#216041;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #178c27;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
}

.section-img{
	max-width: 100%;
	width: auto;
	height: auto;
}

.photo-section-img{
	max-width: 100%;
	width: auto;
	height: auto;
}

.home-section{
 min-height: 90vh;
 padding: 1em;
}

#home-container{
 background: #45a576;
 position: relative;
}

#home-title{
 font-family: 'Gloria Hallelujah';
 color: #d3ede0;
}

#home-title-subtext{
 font-family: 'Lobster';
 color: #d3ede0;
}

#sean-container{
 background: #b9e5c5
}

#sean-text{
 color: #183d22;
}

#sarah-container{
 background: #b9e5dc;
}

#sarah-text{
 color: #226054;
}

#photo-container{
 background: #b9e5c5;
 min-height: 94vh;
}



/*.overflow-hidden {
    overflow: hidden;
}

.position-relative {
    position: relative!important;
}

.p-3 {
    padding: 1rem!important;
}*/