.navbar{
 background:#216041;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #178c27;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
}

#home-container{
 background: #45a576;
 margin: 4em 0;
 padding: 1em;
 position: relative;
}

#title{
 font-family: 'Gloria Hallelujah';
 color: #d3ede0;
}

#title-subtext{
 font-family: 'Lobster';
 color: #d3ede0;
}

/*.overflow-hidden {
    overflow: hidden;
}

.position-relative {
    position: relative!important;
}

.p-3 {
    padding: 1rem!important;
}*/